.thumbnail {
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-panel {
  text-align: center;
}
.exerciseTitle {
  color: black;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-size:
}

.exerciseDescription {
  color: black;
  margin-top: 2px;
  margin-bottom: 0px;
}

.col {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.row {
  margin-bottom: 0px;
  position: fixed;
  left: 50%;
  top: 5%;
  margin-left: -180px;
}

.input-field {
  margin-left: 5px;
  margin-right: 5px;
}

.inline-block {
   display: inline-block;
}

img {
  display: inline;
}

h1 {
  display: inline;
}


.btn {

}

.date {
  text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  margin: auto;
} 

.buttonBack {
  font-size: 20px;
  padding: 7px 14px;
  margin-left: 7px;
}

.buttonDone {
  font-size: 20px;
  padding: 7px 14px;
  float: right;
  margin-right: 7px;
}

.workouts {
  text-align: center;
}

.workout_button {
  padding: 10px 10px;
  width: 75%;
  background-color: #bdbdbd;
  border-radius: 8px;
}



