.thumbnail {
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-panel {
  
}
.exerciseTitle {
  color: black;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-size:
}

.exerciseDescription {
  color: black;
  margin-top: 2px;
  margin-bottom: 0px;
}

.col {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.row {
  margin-bottom: 0px;
}

.input-field {
  margin-left: 5px;
  margin-right: 5px;
}

.inline-block {
   display: inline-block;
}

img {
  display: inline;
}

h1 {
  display: inline;
}

.btn span.icon {
  background: url("./imgs/calendar.jpg") no-repeat;
  float: left;
  width: 10px;
  height: 10px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}
.button .icon {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXLOFS5Yh6btqKwRrNAZ_ItE48ONJsc7jgn61rIwCVsuaDDtSK9A) no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px
}  
.button .span {
  float: left;
  width: 20px;
  height: 20px;
}  

.buttonBack {
  font-size: 30px;
  padding: 7px 14px;
  margin-left: 200px;
}

.buttonDone {
  font-size: 30px;
  padding: 7px 14px;
  margin-left: 905px;
}

